[data-typography="roboto"] {
    font-family: 'Roboto', sans-serif;
	--bs-body-font-family: 'Roboto', sans-serif;
}
[data-typography="poppins"] {
    font-family: 'poppins', sans-serif;
	--bs-body-font-family: 'poppins', sans-serif;
}
[data-typography="opensans"] {
    font-family: 'Open Sans', sans-serif;
	--bs-body-font-family: 'Open Sans', sans-serif;
}